@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Righteous&display=swap");

:root {
  --dark: #222831;
  --grey: #393e46;
  --accent: #ffd369;
  --clear: #eeeeee;
  --bodyFont: "Poppins", sans-serif;
  --headerFont: "Righteous", cursive;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  background: var(--dark);
  color: var(--clear);
  text-align: center;
  font-family: var(--bodyFont);
}

h1 {
  font-size: 40px;
}
